@use '../node_modules/bootstrap/scss/bootstrap.scss';
@use './partials/header';
@use './partials/main';
@use './partials/footer';
@use './partials/variables' as *;


@mixin coverNoRepeat () {
    background-size: cover;
    background-repeat: no-repeat;

}


//Common rules


.ms_container-large {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 1rem;
}

img {
    max-width: 100%;
    height: auto;
}

.jumbo-title {
    font-size: 5rem;
}

.jumbo-title,
.text_primary {
    color: $primary;
}

.ms_btn-large {
    padding: 0.5rem 2rem;
}

.bg_primary {
    background-color: $primary;
}

.bg_dark-blue {
    background-color: $dark-blue;
}

.bg_white {
    background-color: $white;
}

.bg_dawn-pink {
    background-color: $dawn-pink;
}

.bg-testimonial {
    background-image: url(../img/testimonial2-2x.jpg);
    padding: 8rem;
    border-radius: 0 0 5rem 0;
    display: flex;
}

.first_banner {
    background-image: url(../img/banner.jpg);
    padding-top: 5rem;

}

.second_banner {
    background-image: url(../img/banner-2.jpg);
    padding: 5rem 0;

}

.first_banner,
.second_banner,
.bg-testimonial {
    @include coverNoRepeat();

}

.text_lightgray {
    color: lightgrey;
}

.text_dawn-pink {
    color: $dawn-pink
}

.text-dark-blue {
    color: $dark-blue;
}

.smaller {
    font-size: 0.6rem;
}

.caption {
    color: $light-gray;
}


.font-script {
    font-family: $font-script;
}

.font-pt-serif {
    font-family: $pt-serif;
}