@use './variables' as *;

#site_header {
    background-image: url(../img/bg-large.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    position: relative;

    .layover {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient(to top, rgba($black, 0.9), rgba($secondary, 0.3));
    }

    .ms_cards {
        position: absolute;
        right: 0;
        top: 20%;

        .ms_card-small {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            background-color: $white;
            min-height: 50px;
            line-height: 1;
            margin: 0.5rem;
            padding: 0.5rem;
            border-radius: 0.5rem;
            font-size: 0.8rem;
        }
    }

    .ms_nav {
        .container-fluid {
            align-items: flex-start;


            .ms_nav-item {
                margin: 0 1rem;

                a {
                    color: $white;
                }
            }


        }

    }

    .ms_container-large {
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;
        padding: 1rem;

        .jumbo {
            height: 500px;
            margin-top: 10rem;

            .ms_logo {
                position: absolute;
                right: 100%;
                bottom: 100%;
                translate: 50%;
                margin-bottom: 2rem;
            }

            .jumbo-header-p {
                font-size: 2.5rem;
            }


            .btn.ms_btn-jumbo-header {
                display: flex;
                align-items: center;
                background-color: rgba($black, 0.8);
                color: $white;
                margin: 0 0.5rem;
                padding: 0.5rem 0.75rem;

            }
        }

        .call-to-action {
            position: absolute;
            z-index: 9999;
            bottom: 0;
            right: 0;

            .flex-container {
                padding: 3rem;

                .flex-item {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        padding: 0.5rem 0;
                        border: 1px solid $dark-blue;
                        background-color: white;
                        transition: background-color 0.2s ease;
                        box-shadow: 0 0 5px $pumice;
                        font-weight: 500;

                        &:hover {
                            background-color: rgba($light-blue, 0.1);
                        }

                        .icon {
                            width: 12px;
                            margin-right: 0.5rem;
                        }
                    }
                }
            }
        }
    }
}