@use './variables' as *;

#site_main {
    padding-top: 1rem;

    .jumbo {
        .jumbo-main-p {
            font-weight: 500;
            font-size: 1.8rem;
        }

        .ms_btn-jumbo-main {
            background-color: $dark-blue;
            color: white;
        }
    }

    .logos {
        .col.logo {
            padding: 0 3rem;
        }

        .logo {
            display: flex;
            justify-content: center;
            padding: 0 2rem;

            img {
                object-fit: contain;
                object-position: center top;
            }

        }

    }

}