@use './variables' as *;

#site_main {
    padding: 3rem 0;

    .jumbo {
        .jumbo-main-p {
            font-weight: 500;
            font-size: 1.8rem;
        }

        .ms_btn-jumbo-main {
            background-color: $dark-blue;
            color: $white;
        }
    }

    .logos {
        .col.logo {
            padding: 0 3rem;
        }

        .logo {
            display: flex;
            justify-content: center;
            padding: 0 2rem;

            img {
                object-fit: contain;
                object-position: center top;
            }

        }

    }

    .critics {
        .heading {
            button {
                height: fit-content;
                align-self: center;
            }
        }

        .layover {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background-color: rgba($black, 0.5);
            border-radius: 0 0 5rem 0;
        }

        .content {
            position: relative;
            z-index: 999;
            color: $white;
        }

        .critic {
            position: relative;

            .icon {
                position: absolute;
                top: 100%;
                left: 10%;
                translate: 0 -50%;

            }
        }


    }

}