//Color Cube

$white: #ffffff;
$black: #030303;
$primary: #f3b329;
$secondary: #434343;
$ligth-gray: #868586;
$pumice: #bec5be;
$dark-blue: #027986;
$ligth-blue: #51bfc7;
$corn-harvest: #936c0f;
$bright-red: #d61a2a;

//Median cut
$dawn-pink: #f3ece3;
$cod-gray: #1d1c1a;
$pewter: #96a4a3;
$sand-dunk: #7c6e69;
$oslo-gray: #86888e;